# BAG OF WORDS(BOW)
https://scikit-learn.org/1.5/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [1]:
import pandas as pd

In [2]:
data=pd.DataFrame({"text":["people watch cricket","cricket watch cricket","people give comment","cricket give comment"],"output":[1,1,0,0]})

In [3]:
data

                    text  output
0   people watch cricket       1
1  cricket watch cricket       1
2    people give comment       0
3   cricket give comment       0

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
Bow = CountVectorizer()

In [6]:
data['text']

0     people watch cricket
1    cricket watch cricket
2      people give comment
3     cricket give comment
Name: text, dtype: object

In [7]:
document_matrix = Bow.fit_transform(data['text'])

In [8]:
document_matrix

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 11 stored elements and shape (4, 5)>

In [9]:
Bow.vocabulary_

{'people': 3, 'watch': 4, 'cricket': 1, 'give': 2, 'comment': 0}

In [10]:
document_matrix[0].toarray()

array([[0, 1, 0, 1, 1]])

In [11]:
document_matrix[1].toarray()

array([[0, 2, 0, 0, 1]])

In [12]:
document_matrix[2].toarray()

array([[1, 0, 1, 1, 0]])

In [13]:
document_matrix[3].toarray()

array([[1, 1, 1, 0, 0]])

In [18]:
pd.get_dummies(data['text'],dtype=int,drop_first=True)

   cricket watch cricket  people give comment  people watch cricket
0                      0                    0                     1
1                      1                    0                     0
2                      0                    1                     0
3                      0                    0                     0

In [19]:
data['text']

0     people watch cricket
1    cricket watch cricket
2      people give comment
3     cricket give comment
Name: text, dtype: object

In [34]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Create the DataFrame
data = pd.DataFrame({
    "text": ["people watch cricket", "cricket watch cricket", "people give comment", "cricket give comment"],
    "output": [1, 1, 0, 0]
})

# Tokenize the text into unique words (split by space)
data['text_tokens'] = data['text'].str.split()

# Flatten the tokens into a list of unique words
unique_words = list(set(word for tokens in data['text_tokens'] for word in tokens))

# Create a binary presence matrix indicating whether each unique word is present
presence_matrix = [[int(word in tokens) for word in unique_words] for tokens in data['text_tokens']]

# Use OneHotEncoder without specifying categories (already binary)
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the presence matrix
one_hot_encoded = encoder.fit_transform(presence_matrix)

# Convert to DataFrame for better visualization
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(unique_words))

# Combine with the original output column
result = pd.concat([one_hot_df, data['output']], axis=1)

(result)

,people_0,people_1,comment_0,comment_1,give_0,give_1,cricket_0,cricket_1,watch_0,watch_1,output
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1
2,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0